/target
/dist

.DS_Store
.AppleDouble
.LSOverride
Icon

._*
.Spotlight-V100
.Trashes

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.cab
*.lnk
Desktop.ini

*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

.vscode/
.idea/
*.swp
*.swo
*.tmp
